@font-face {
	font-family: 'Zodiak-Variable';
	src: url(/assets/fonts/Zodiak-Variable.ttf);
}


@font-face {
	font-family: 'Stardom-Regular';
	src: url(/assets/fonts/Stardom-Regular.ttf);
}



.baseline{
	position: fixed;
	border-bottom: 1px solid white;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height:70px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-family: 'Stardom-Regular';
	letter-spacing: .1em;
	font-size: 13px;

}
#library{
	padding-right: 3rem;
}
#lyra{
	padding-left: 4rem;
}

@media (min-width: 760px) { 
	.baseline{
		height: 55px;
		width: 81%;
		margin-left: 15.5%;

	}
	#lyra{
		padding-left: 7rem;
	}
	#library{
		padding-right: 2rem;
	}

}
/* .baseline{
		border-bottom: 1px solid white;
		width: 100%;
		padding-right: 6rem;
	bottom: 0;
} */

.menu {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none; /* Hide scrollbar in FF */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Stardom-Regular';
	letter-spacing: .1em;
	padding-top: 2rem;

}

.mobile .menu {
	padding: 5rem 0;
	height: auto;
}

.menu__item {
	flex: none;
	margin-right: 4rem;
	padding: 0 2rem 0 0;
}

.philosophy{
    font-size: 2vw;
    padding-left: 2vw;
    padding-top: 2vw;
}

.menu__item-inner {
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	font-size: 6vw;
	letter-spacing: .1em;
	padding: 0.5rem;
	display: block;
	color: var(--color-menu);
	transition: transform 0.2s;
}

.menu__item-inner:hover {
	font-style: italic;
	transform: translate3d(2rem,0,0);
	color: var(--color-menu-hover);
}

.menu__item-inner::before {
	content: '';
	top: 55%;
	width: 3.5rem;
	height: 1px;
	background: currentColor;
	position: absolute;
	right: calc(100% + 2rem);
	opacity: 0;
	pointer-events: none;
}

.menu__item-inner:hover::before {
	opacity: 1;
}

/* Pseudo-element for making sure that hover area is active */
.menu__item-inner:hover::after {
	content: '';
	position: absolute;
	top: 0;
	left: -5.5rem;
	right: 0;
	height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.hover-image {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 40%;
    /* width: auto;
    height: auto; */
    object-fit: cover;
    opacity: 0;
	/* transform: translate3d(-6%,0,0); */
    transition: opacity 0.3s ease;
	/* transition: transform 0.6s ease; */

  }

  .menu__item-inner:hover .hover-image {
    opacity: 1;
	/* transform: translate3d(0,0,0); */
  }

  @media (max-width: 760px) { 
	.menu{
		position: absolute;
		overflow-x: hidden;
	}

	.menu__item{
		margin-right: 0;
	}
	.hover-image{
		left: 0%;
	}
  }