@font-face {
	font-family: 'Zodiak-Variable';
	src: url(/assets/fonts/Zodiak-Variable.ttf);
}

body{
    height: 100%;
    overflow-y: scroll;
}
.main{
    font-family: 'Zodiak-Variable';
}

img{
    max-width: none;
}

.team__bio{
	font-weight: 300;
    /* font-size: 27px;
	line-height: 2em;
    letter-spacing: .1em; */

}