@font-face {
	font-family: 'Zodiak-Variable';
	src: url(/assets/fonts/Zodiak-Variable.ttf);
}

body{
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;

}
.main{
    font-family: 'Zodiak-Variable';
    scrollbar-width: none;
}

img{
    max-width: none;
}

.team__bio{
	font-weight: 300;
    font-size: 18px;
    width: 100%;
    color: hsla(0,0%,100%,.3);
    transition: all .65s ease-in-out;

}
.btnClick{
    border-color: hsla(0,0%,100%,.3);
}
.team__title{
    font-weight: bold;
}


* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
}
.plusminus {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	
	&.active {
		&:before {
			transform: translatey(-50%) rotate(-90deg);
			opacity: 0;
		}
		&:after {
			transform: translatey(-50%) rotate(0);
		}
	}
	
	&:before , &:after {
		content: "";
		display: block;
		background-color: #fff;
		position: absolute;		
		top: 50%; left: 0;
		transition: .4s;
		width: 100%;
		height: 1px;
	}
	
	&:before {		
		transform: translatey(-50%);
	}
	
	&:after {
		transform: translatey(-50%) rotate(90deg);
	}
	
}

@media (max-width: 760px) { 
    .main{
        position: absolute;
    }
    .team__picture{
        max-width: 60%;
    }

    .team__brand{
        padding-left: 1rem;
    }

    .team__text{
        position: absolute;
        padding-left: 0;
        margin-top: 2rem;
        left: 50%;
        width: 60%;
    }

    .team__bio{
        margin-left: 0;
    }

}

@media (min-width: 760px) and (max-width: 1440px) { 
    .team__picture{
        max-width: 65%;
    }
    .team__bio{
        margin-left: 0;
    }
    .team__text{
        margin-left: -10rem;
        justify-content: center;
    }
}