body{
    overflow-y: auto;
    font-family: 'Technor-Variable';

}

html {
	scroll-behavior: smooth;
}


.relative.z-0.flex.h-full.w-full.overflow-hidden{
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

#lyrawalk{
    display: inline;
    width: calc(418px/2);
    height: calc(597px/2);
    margin-top: -14rem;
}

#footer-contact{
    background-color: black;
    color: white;
    height: 90vh;
}

#stripe{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
    color: black;
    width: 150vw;
}

#form-section{
    background-color: black;
    color: white;
}

#stripeAnim{
    animation: slideLeftToRight 12s linear infinite;
}

@keyframes slideLeftToRight {
    from {
      transform: translateX(-25%);
    }
    to {
      transform: translateX(-0.3%);
    }
  }

label{
    display: block;
    font-size: 18px;
}
input, select{
    display: block;
    width: 100%;
    background-color: transparent;
    background-color: black;
    border-bottom: 1px solid white;
}

#tapeScreen{
background-color: white;
color: black;
}

.btnContact{
    border: 1px solid white;
    border-radius: 32px;
    padding: 0.5rem  .75rem;
    margin: 1rem 1rem 0 0 ;
    transition: all .4s ease-in-out;

}

.btnContact:hover{
    background-color: white;
    color: black;
    /* transition: all .4s ease-in; */
}

#shygif{
    display: inline;
    height: 150px;
    width: 0px;
    clip-path: inset(0% 0% 0% 100%);
    margin-left: 1rem;
}

.revealText{
    /* transform-origin: 0% 50%; */
    /* transform: translate(0px, 0px); */
    animation: entry .4s ease;
}

@keyframes entry {
    from {     transform: translate(0px, 120px);
    }
    to {     transform: translate(0px, 0px);
    }
  }


/* #shygif:hover{
        width: 150px;
    clip-path: inset(0%) ;
    transition: all 0.2 ease;
} */


@media (max-width : 761px){
    body{
        overflow-y: auto;
    }
    .sidebar{
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    #contact-main{
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .btnContact{
        margin: 1rem 1rem 1rem 0 ;

    }
    #lyrawalk{
        z-index: -5;
    }
    #header-text{
        display: flex;
        flex-direction: column;
    }
    #footer-text{
        display: flex;
        flex-direction: column;
    }
    .h-screen{
        overflow-y: hidden;
    }
  }