body{
    overflow-y: auto;
    font-family: 'Technor-Variable';
}

html {
	scroll-behavior: smooth;
}


.relative.z-0.flex.h-full.w-full.overflow-hidden{
    scrollbar-width: none;
}

#lyrawalk{
    display: inline;
    width: calc(418px/2);
    height: calc(597px/2);
    margin-top: -14rem;
}

#footer-contact{
    background-color: #fff;
    color: black;
    height: 90vh;
}

#stripe{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    color: #fff;
    width: 150vw;
    
}

#form-section{
    background-color: #fff;
    color: black;
}

label{
    display: block;
    font-size: 18px;
}
input, select{
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
}

@media (max-width : 761px){
    .sidebar{
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    #contact-main{
        position: absolute;
    }
    #lyrawalk{
        z-index: -5;
    }
  }