@font-face {
	font-family: 'Stardom-Regular';
	src: url(/assets/fonts/Stardom-Regular.ttf);
}


@font-face {
	font-family: 'Zodiak-Variable';
	src: url(/assets/fonts/Zodiak-Variable.ttf);
}

:root{
	--max-width:calc(min(100vw - 60px, 2000px, 145px + 50vw));
	--margin: calc((100vw - var(--max-width))/2);
}

body{
	height: auto;
}

html {
	scroll-behavior: smooth;
  }

.sidebar{
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}


#section{
	height: 200vh;
}

figcaption{
	text-align: center;
	padding-top: 1.5em;
	font-style: italic;
}


#Me{
	font-family: 'Zodiak-Variable';
	position: relative;
	padding-left: 250px;
	padding-top: 1px;
}

.lined{
	line-height:2em;
	letter-spacing: .1em;
	font-size: 38px;
}

.lined.inside{
	padding: 0!important;
}


.content__title{
	margin: var(--margin);
	font-size: 27px;
	font-weight: 300;
}


.grid__item-img {
	position: relative;
	width: 408px;
	height: 716px;
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
	opacity: 1;
}

.grid__item-img1 {
	position: relative;
	width: 517px;
	height: 720px;
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
	opacity: 1;
}

.grid__item-img2 {
	position: relative;
	width: 773px;
	height: 618px;
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img3 {
	position: relative;
	width: calc(1207px/1.5);
	height: calc(966px/1.5);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img4 {
	position: relative;
	width: calc(1920px /3);
	height: calc(2245px/3);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img5 {
	position: relative;
	width: calc(1602px/3);
	height: calc(2290px/3);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img6 {
	position: relative;
	height: calc(1728px/2.75);
	width: calc(2592px/2.75);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img7 {
	position: relative;
	width: calc(1728px/3.25);
	height: calc(2540px/3.25);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img8 {
	position: relative;
	width: calc(1728px/3.25);
	height: calc(2570px/3.25);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img9 {
	position: relative;
	width: 600px;
	height: 790px;
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img10 {
	position: relative;
	width: calc(1024px/1.5);
	height: calc(1024px/1.5);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.photo{
	border: 5px solid white;
  }
  
  #h1{
  font-size: 52px;
  }
  
  #printemps{
  position: relative;
  margin-top: -360px;
  font-size: 72px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  }
  #printemps::after {
	content: attr(data-hover);
	font-size: 32px;
	font-weight: 500;
	margin-left: 24px;
	height: 80vh;
	writing-mode: vertical-rl;
	text-orientation: upright;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.5s, visibility 0.5s;
  }

  #printemps:hover::after {
	visibility: visible;
	opacity: 1;
  }

  #printemps:hover {
	visibility: hidden;
  }

  #parg1{
	margin-top: -22vh;
  }

  .swap{
	position: absolute;
  }

  .wrap{
	display: flex;
  }

.echo{
	display: flex;
	height: 100vh;
}

#hello{
	height: 100vh;
}

.lel{
	top: 0;
	margin-top: -45vh;
}

.lil{
	height: 360vh;
}

.lul{
	top:0;
	margin-top:0vh;
}

.grid{
	z-index: 40;
}

#t3{
	top: 0;
	margin-top: -40vh;
}

#p3{
	top: 0;
}