@font-face {
	font-family: 'Stardom-Regular';
	src: url(/assets/fonts/Stardom-Regular.ttf);
}


@font-face {
	font-family: 'Zodiak-Variable';
	src: url(/assets/fonts/Zodiak-Variable.ttf);
}

:root{
	--max-width:calc(min(100vw - 60px, 2000px, 145px + 50vw));
	--margin: calc((100vw - var(--max-width))/2);
}

body{
	height: auto;
}

html {
	scroll-behavior: smooth;
  }

.sidebar{
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

/* 
#section{
	position: absolute;
	top: 0;
} */

figcaption{
	text-align: center;
	padding-top: 1.5em;
	font-style: italic;
}


#Me{
	font-family: 'Zodiak-Variable';
	position: relative;
	padding-left: 250px;
	padding-top: 1px;
	/* height: auto; */
	/* position: absolute; */
	/* line-height: 3em;
	letter-spacing: .2em; */
	/* font-weight: 200;
	position: relative;
	right: 0; */
}

.lined{
	line-height:2em;
	letter-spacing: .1em;
	font-size: 38px;
}

.lined.inside{
	padding: 0!important;
}

/* #section{
	margin: 8em 0 0 0;
} */


.content__title{
	/* padding: 2em 6em; */
	margin: var(--margin);
	font-size: 27px;
	font-weight: 300;
	/* letter-spacing: 1px; */
	/* will-change: opacity; */
	/* opacity: 0.1;
	rotate: 0; */
}

/* .grid {
position: relative;
display: grid;
}

.grid__item {
	position: relative;
	will-change: transform;
	grid-column: 2;
	grid-row: 1;
} */

.grid__item-img {
	position: relative;
	width: 408px;
	height: 716px;
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
	opacity: 1;
}

.grid__item-img1 {
	position: relative;
	width: 517px;
	height: 720px;
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
	opacity: 1;
}

.grid__item-img2 {
	position: relative;
	width: 773px;
	height: 618px;
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img3 {
	position: relative;
	width: calc(1207px/1.5);
	height: calc(966px/1.5);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img4 {
	position: relative;
	width: calc(1920px /2.25);
	height: calc(2245px/2.25);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img5 {
	position: relative;
	width: calc(1602px/2.25);
	height: calc(2306px/2.25);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img6 {
	position: relative;
	height: calc(1728px/2.75);
	width: calc(2592px/2.75);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img7 {
	position: relative;
	width: calc(1728px/2.25);
	height: calc(2592px/2.25);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img8 {
	position: relative;
	width: calc(1728px/3);
	height: calc(2592px/3);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img9 {
	position: relative;
	width: 600px;
	height: 800px;
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}

.grid__item-img10 {
	position: relative;
	width: calc(1024px/1.5);
	height: calc(1024px/1.5);
	aspect-ratio: 1;
	background-size: contain;
	background-position: 50% 50%;
	will-change: transform, opacity;
	border: 5px solid white;
}


/* .content {
	display: flex;
	flex-direction: column;
	width: 80vw;
	position: relative;
	padding: 1.5rem 2rem;
} */

.photo{
	border: 5px solid white;
	/* border-bottom: 20px solid white; */
  }
  
  #h1{
  font-size: 52px;
  }
  
  /* #h2{
  font-size: 42px;
  } */
  
  #printemps{
  position: relative;
  margin-top: -360px;
  font-size: 72px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  }
  #printemps:hover{
	/* text-shadow: 0 0 4px #fff; */

  }

  #parg1{
	margin-top: -22vh;
  }

  #section{
	/* margin-top: 250px; */
  }

  
  
  /* #Me{
  font-family: 'Stardom-Regular';
  }
  
  #firstP{
	font-size: 32px;
  }
  
  #intro{
	text-align: start;
	  font-size: 52px;
	  line-height: 1.2em;
  } */

  .swap{
	position: absolute;
  }

  .wrap{
	display: flex;
  }

.echo{
	display: flex;
	height: 100vh;
}

.element{
	margin-top: 50em;
	height:100vh;
}