.lyratitle{
    text-shadow: 0 0 4px #fff;
}

@media (max-width: 1080px){
    .terminal{
        width: 100%;
    }
    .desk{
      display: none;
    }
  }

  .itemMenu{
    animation: none;
  }

  html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
  min-height: -moz-available;
  scrollbar-width: none;

}