@font-face {
	font-family: 'Zodiak-Variable';
	src: url(/assets/fonts/Zodiak-Variable.ttf);
}

@font-face {
    font-family: 'Technor-Variable';
    src: url(/assets/fonts/Technor-Variable.ttf);
  }

  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    height: 100%;
    overflow: auto;
    min-height: -moz-available;
    scrollbar-width: none;
  
  }

body{
    height: 100%;
    overflow-y: scroll;
    overflow-x: none;
    scrollbar-width: none;
}

.itemMenu{
    animation: none;
  }
  
.main{
    font-family: 'Zodiak-Variable';
    scrollbar-width: none;
}

img{
    max-width: none;
}

.team__bio{
	font-weight: 300;
    font-size: 18px;
    width: 100%;
    color: hsla(0,0%,100%,.3);
    transition: all .65s ease-in-out;

}
.btnClick{
    border-color: hsla(0,0%,100%,.3);
}
.team__title{
    font-family: 'Technor-Variable';
    font-weight: bold;
}

.team__name{
    letter-spacing: .1em;
}


* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
}
.plusminus {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	
	&.active {
		&:before {
			transform: translatey(-50%) rotate(-90deg);
			opacity: 0;
		}
		&:after {
			transform: translatey(-50%) rotate(0);
		}
	}
	
	&:before , &:after {
		content: "";
		display: block;
		background-color: #fff;
		position: absolute;		
		top: 50%; left: 0;
		transition: .4s;
		width: 100%;
		height: 1px;
	}
	
	&:before {		
		transform: translatey(-50%);
	}
	
	&:after {
		transform: translatey(-50%) rotate(90deg);
	}
	
}

@media (max-width: 760px) { 
    .main{
        position: absolute;
    }
    .team__picture{
        max-width: 60%;
    }

    .team__brand{
        /* padding-left: 1rem; */
    }

    .team__text{
        position: absolute;
        padding-left: 0;
        margin-top: 2rem;
        left: 50%;
        width: 60%;
    }

    .team__text_right{
        position: absolute;
        padding-left: 0;
        margin-top: 2rem;
        right: 45%;
        width: 60%;
    }

    .team__bio{
        margin-left: -50px;
        font-size: 16px;
    }

}

@media (min-width: 760px) and (max-width: 1440px) { 
    .team__picture{
        max-width: 65%;
    }
    .team__bio{
        margin-left: 0;
    }
    .team__text{
        margin-left: -10rem;
        justify-content: center;
    }
}

canvas.webglLyra{
    position: absolute;
    right: 0;
    overflow: hidden;
    margin-right: -35rem;
    bottom: -260px;
    z-index: -10;
    scrollbar-width: none;

}