@font-face {
	font-family: 'Zodiak-Variable';
	src: url(/assets/fonts/Zodiak-Variable.ttf);
}

@font-face {
    font-family: 'Technor-Variable';
    src: url(/assets/fonts/Technor-Variable.ttf);
}


body{
/* font-family: 'Technor-Variable'; */
    font-family: 'Zodiak-Variable';
	/* line-height: 2em;
    letter-spacing: .1em; */
}

.bounty{
	/* font-weight: 300; */
}

.content__title{
	font-family: 'Zodiak-Variable';


    margin: 2rem 24rem 2rem 25rem;
	font-size: 27px;
	font-weight: 300;
	line-height: 2em;
    letter-spacing: .1em;
}

@media (max-width : 761px){
	.content__title{
		margin: 0;
		padding: 2rem 25px;
	font-size: 16px;
	font-weight: 300;
	line-height: 2em;
    letter-spacing: .1em;
	}

	#ace{
		padding: 1rem 3rem;
	}

	#contact-main{
		position: absolute;
	}
}